* {
    margin: 0;
    box-sizing: border-box;
}

.box1 {
    width: 218px;
    height: 218px;
    background-color: #FE0303;
    float: left;
    border: 1px;
}

.box2 {
    width: 218px;
    height: 218px;
    background-color: #0500FF;
    float: right;
    border: 1px;
}